trunk/OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_FillBlankProblem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FillBlankProblemUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fu" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FillBlankProblem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FrontTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BackTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FillBlankProblemUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProblemUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProblemInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fi" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProblemInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProblemInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProblemDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fd" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProblemDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProblemDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeFillBlankProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeFillBlankProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeFillBlankProblemListResult" type="tns:ArrayOfFillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFillBlankProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FillBlankProblem" nillable="true" type="tns:FillBlankProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFillQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFillQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFillQuestionResult" type="tns:ArrayOfFillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FillBlankProblemUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProblemUpdate" />
  </wsdl:message>
  <wsdl:message name="FillBlankProblemUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProblemUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="FillBlankProblemInsertSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProblemInsert" />
  </wsdl:message>
  <wsdl:message name="FillBlankProblemInsertSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProblemInsertResponse" />
  </wsdl:message>
  <wsdl:message name="FillBlankProblemDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProblemDelete" />
  </wsdl:message>
  <wsdl:message name="FillBlankProblemDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProblemDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GeFillBlankProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GeFillBlankProblemList" />
  </wsdl:message>
  <wsdl:message name="GeFillBlankProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GeFillBlankProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetFillQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetFillQuestion" />
  </wsdl:message>
  <wsdl:message name="GetFillQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetFillQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_FillBlankProblemSoap">
    <wsdl:operation name="FillBlankProblemUpdate">
      <wsdl:input message="tns:FillBlankProblemUpdateSoapIn" />
      <wsdl:output message="tns:FillBlankProblemUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemInsert">
      <wsdl:input message="tns:FillBlankProblemInsertSoapIn" />
      <wsdl:output message="tns:FillBlankProblemInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemDelete">
      <wsdl:input message="tns:FillBlankProblemDeleteSoapIn" />
      <wsdl:output message="tns:FillBlankProblemDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <wsdl:input message="tns:GeFillBlankProblemListSoapIn" />
      <wsdl:output message="tns:GeFillBlankProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFillQuestion">
      <wsdl:input message="tns:GetFillQuestionSoapIn" />
      <wsdl:output message="tns:GetFillQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_FillBlankProblemSoap" type="tns:BLLWS_FillBlankProblemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillBlankProblemUpdate">
      <soap:operation soapAction="http://tempuri.org/FillBlankProblemUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemInsert">
      <soap:operation soapAction="http://tempuri.org/FillBlankProblemInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemDelete">
      <soap:operation soapAction="http://tempuri.org/FillBlankProblemDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <soap:operation soapAction="http://tempuri.org/GeFillBlankProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFillQuestion">
      <soap:operation soapAction="http://tempuri.org/GetFillQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_FillBlankProblemSoap12" type="tns:BLLWS_FillBlankProblemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillBlankProblemUpdate">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProblemUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemInsert">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProblemInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProblemDelete">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProblemDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <soap12:operation soapAction="http://tempuri.org/GeFillBlankProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFillQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetFillQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_FillBlankProblem">
    <wsdl:port name="BLLWS_FillBlankProblemSoap" binding="tns:BLLWS_FillBlankProblemSoap">
      <soap:address location="http://localhost:6861/BLLWS_FillBlankProblem.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_FillBlankProblemSoap12" binding="tns:BLLWS_FillBlankProblemSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_FillBlankProblem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>