trunk/OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_MultiProblem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="multiProblemInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mi" type="tns:MultiProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="MultiProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="multiProblemInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiProblemInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiProblemUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mu" type="tns:MultiProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="multiProblemUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="multiProblemUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMultiProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMultiProblemListResult" type="tns:ArrayOfMultiProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMultiProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MultiProblem" nillable="true" type="tns:MultiProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetMutiQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMutiQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMutiQuestionResult" type="tns:ArrayOfMultiProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="multiProblemInsertSoapIn">
    <wsdl:part name="parameters" element="tns:multiProblemInsert" />
  </wsdl:message>
  <wsdl:message name="multiProblemInsertSoapOut">
    <wsdl:part name="parameters" element="tns:multiProblemInsertResponse" />
  </wsdl:message>
  <wsdl:message name="multiProblemUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:multiProblemUpdate" />
  </wsdl:message>
  <wsdl:message name="multiProblemUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:multiProblemUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetMultiProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetMultiProblemList" />
  </wsdl:message>
  <wsdl:message name="GetMultiProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetMultiProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetMutiQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetMutiQuestion" />
  </wsdl:message>
  <wsdl:message name="GetMutiQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetMutiQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_MultiProblemSoap">
    <wsdl:operation name="multiProblemInsert">
      <wsdl:input message="tns:multiProblemInsertSoapIn" />
      <wsdl:output message="tns:multiProblemInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="multiProblemUpdate">
      <wsdl:input message="tns:multiProblemUpdateSoapIn" />
      <wsdl:output message="tns:multiProblemUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMultiProblemList">
      <wsdl:input message="tns:GetMultiProblemListSoapIn" />
      <wsdl:output message="tns:GetMultiProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMutiQuestion">
      <wsdl:input message="tns:GetMutiQuestionSoapIn" />
      <wsdl:output message="tns:GetMutiQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_MultiProblemSoap" type="tns:BLLWS_MultiProblemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="multiProblemInsert">
      <soap:operation soapAction="http://tempuri.org/multiProblemInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiProblemUpdate">
      <soap:operation soapAction="http://tempuri.org/multiProblemUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiProblemList">
      <soap:operation soapAction="http://tempuri.org/GetMultiProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutiQuestion">
      <soap:operation soapAction="http://tempuri.org/GetMutiQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_MultiProblemSoap12" type="tns:BLLWS_MultiProblemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="multiProblemInsert">
      <soap12:operation soapAction="http://tempuri.org/multiProblemInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiProblemUpdate">
      <soap12:operation soapAction="http://tempuri.org/multiProblemUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultiProblemList">
      <soap12:operation soapAction="http://tempuri.org/GetMultiProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMutiQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetMutiQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_MultiProblem">
    <wsdl:port name="BLLWS_MultiProblemSoap" binding="tns:BLLWS_MultiProblemSoap">
      <soap:address location="http://localhost:2542/BLLWS_MultiProblem.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_MultiProblemSoap12" binding="tns:BLLWS_MultiProblemSoap12">
      <soap12:address location="http://localhost:2542/BLLWS_MultiProblem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>