trunk/OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_QuestionProblem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QuestionProblemInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qi" type="tns:QuestionProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="QuestionProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="QuestionProblemInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QuestionProblemInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuestionProblemUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="qu" type="tns:QuestionProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QuestionProblemUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="QuestionProblemUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestionProblem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestionProblemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestionProblemResult" type="tns:ArrayOfQuestionProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuestionProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuestionProblem" nillable="true" type="tns:QuestionProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetQuesQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuesQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuesQuestionResult" type="tns:ArrayOfQuestionProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QuestionProblemInsertSoapIn">
    <wsdl:part name="parameters" element="tns:QuestionProblemInsert" />
  </wsdl:message>
  <wsdl:message name="QuestionProblemInsertSoapOut">
    <wsdl:part name="parameters" element="tns:QuestionProblemInsertResponse" />
  </wsdl:message>
  <wsdl:message name="QuestionProblemUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:QuestionProblemUpdate" />
  </wsdl:message>
  <wsdl:message name="QuestionProblemUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:QuestionProblemUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestionProblemSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestionProblem" />
  </wsdl:message>
  <wsdl:message name="GetQuestionProblemSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestionProblemResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuesQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuesQuestion" />
  </wsdl:message>
  <wsdl:message name="GetQuesQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuesQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_QuestionProblemSoap">
    <wsdl:operation name="QuestionProblemInsert">
      <wsdl:input message="tns:QuestionProblemInsertSoapIn" />
      <wsdl:output message="tns:QuestionProblemInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QuestionProblemUpdate">
      <wsdl:input message="tns:QuestionProblemUpdateSoapIn" />
      <wsdl:output message="tns:QuestionProblemUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestionProblem">
      <wsdl:input message="tns:GetQuestionProblemSoapIn" />
      <wsdl:output message="tns:GetQuestionProblemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuesQuestion">
      <wsdl:input message="tns:GetQuesQuestionSoapIn" />
      <wsdl:output message="tns:GetQuesQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_QuestionProblemSoap" type="tns:BLLWS_QuestionProblemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuestionProblemInsert">
      <soap:operation soapAction="http://tempuri.org/QuestionProblemInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionProblemUpdate">
      <soap:operation soapAction="http://tempuri.org/QuestionProblemUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionProblem">
      <soap:operation soapAction="http://tempuri.org/GetQuestionProblem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuesQuestion">
      <soap:operation soapAction="http://tempuri.org/GetQuesQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_QuestionProblemSoap12" type="tns:BLLWS_QuestionProblemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QuestionProblemInsert">
      <soap12:operation soapAction="http://tempuri.org/QuestionProblemInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QuestionProblemUpdate">
      <soap12:operation soapAction="http://tempuri.org/QuestionProblemUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestionProblem">
      <soap12:operation soapAction="http://tempuri.org/GetQuestionProblem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuesQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetQuesQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_QuestionProblem">
    <wsdl:port name="BLLWS_QuestionProblemSoap" binding="tns:BLLWS_QuestionProblemSoap">
      <soap:address location="http://localhost:6861/BLLWS_QuestionProblem.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_QuestionProblemSoap12" binding="tns:BLLWS_QuestionProblemSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_QuestionProblem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>