trunk/OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_SingleSelected.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddSingleSelected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sp" type="tns:SingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SingleProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddSingleSelectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddSingleSelectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSingleSelected">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="spp" type="tns:SingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSingleSelectedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSingleSelectedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleProblemListResult" type="tns:ArrayOfSingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSingleProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleProblem" nillable="true" type="tns:SingleProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSingQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingQuestionResult" type="tns:ArrayOfSingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddSingleSelectedSoapIn">
    <wsdl:part name="parameters" element="tns:AddSingleSelected" />
  </wsdl:message>
  <wsdl:message name="AddSingleSelectedSoapOut">
    <wsdl:part name="parameters" element="tns:AddSingleSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSingleSelectedSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSingleSelected" />
  </wsdl:message>
  <wsdl:message name="UpdateSingleSelectedSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSingleSelectedResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleProblemList" />
  </wsdl:message>
  <wsdl:message name="GetSingleProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingQuestion" />
  </wsdl:message>
  <wsdl:message name="GetSingQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_SingleSelectedSoap">
    <wsdl:operation name="AddSingleSelected">
      <wsdl:input message="tns:AddSingleSelectedSoapIn" />
      <wsdl:output message="tns:AddSingleSelectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSingleSelected">
      <wsdl:input message="tns:UpdateSingleSelectedSoapIn" />
      <wsdl:output message="tns:UpdateSingleSelectedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <wsdl:input message="tns:GetSingleProblemListSoapIn" />
      <wsdl:output message="tns:GetSingleProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingQuestion">
      <wsdl:input message="tns:GetSingQuestionSoapIn" />
      <wsdl:output message="tns:GetSingQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_SingleSelectedSoap" type="tns:BLLWS_SingleSelectedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSingleSelected">
      <soap:operation soapAction="http://tempuri.org/AddSingleSelected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSingleSelected">
      <soap:operation soapAction="http://tempuri.org/UpdateSingleSelected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <soap:operation soapAction="http://tempuri.org/GetSingleProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingQuestion">
      <soap:operation soapAction="http://tempuri.org/GetSingQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_SingleSelectedSoap12" type="tns:BLLWS_SingleSelectedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddSingleSelected">
      <soap12:operation soapAction="http://tempuri.org/AddSingleSelected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSingleSelected">
      <soap12:operation soapAction="http://tempuri.org/UpdateSingleSelected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <soap12:operation soapAction="http://tempuri.org/GetSingleProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetSingQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_SingleSelected">
    <wsdl:port name="BLLWS_SingleSelectedSoap" binding="tns:BLLWS_SingleSelectedSoap">
      <soap:address location="http://localhost:6861/BLLWS_SingleSelected.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_SingleSelectedSoap12" binding="tns:BLLWS_SingleSelectedSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_SingleSelected.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>