trunk/OnLineExam/OnLineExam/App_WebReferences/localhost/DALWS_SingleSelected.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Getitem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="a" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="b" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetitemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetitemResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListCourse">
        <s:complexType />
      </s:element>
      <s:element name="ListCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListCourseResult" type="tns:ArrayOfCourse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCourse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="iq" type="tns:SingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SingleProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerA" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerB" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AnswerD" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertQuestionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="uq" type="tns:SingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateQuestionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSingleProblemListResult" type="tns:ArrayOfSingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSingleProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SingleProblem" nillable="true" type="tns:SingleProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectSingQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectSingQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectSingQuestionResult" type="tns:ArrayOfSingleProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetitemSoapIn">
    <wsdl:part name="parameters" element="tns:Getitem" />
  </wsdl:message>
  <wsdl:message name="GetitemSoapOut">
    <wsdl:part name="parameters" element="tns:GetitemResponse" />
  </wsdl:message>
  <wsdl:message name="ListCourseSoapIn">
    <wsdl:part name="parameters" element="tns:ListCourse" />
  </wsdl:message>
  <wsdl:message name="ListCourseSoapOut">
    <wsdl:part name="parameters" element="tns:ListCourseResponse" />
  </wsdl:message>
  <wsdl:message name="InsertQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertQuestion" />
  </wsdl:message>
  <wsdl:message name="InsertQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateQuestion" />
  </wsdl:message>
  <wsdl:message name="UpdateQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleProblemList" />
  </wsdl:message>
  <wsdl:message name="GetSingleProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="selectSingQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:selectSingQuestion" />
  </wsdl:message>
  <wsdl:message name="selectSingQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:selectSingQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="DALWS_SingleSelectedSoap">
    <wsdl:operation name="Getitem">
      <wsdl:input message="tns:GetitemSoapIn" />
      <wsdl:output message="tns:GetitemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListCourse">
      <wsdl:input message="tns:ListCourseSoapIn" />
      <wsdl:output message="tns:ListCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertQuestion">
      <wsdl:input message="tns:InsertQuestionSoapIn" />
      <wsdl:output message="tns:InsertQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <wsdl:input message="tns:UpdateQuestionSoapIn" />
      <wsdl:output message="tns:UpdateQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <wsdl:input message="tns:GetSingleProblemListSoapIn" />
      <wsdl:output message="tns:GetSingleProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectSingQuestion">
      <wsdl:input message="tns:selectSingQuestionSoapIn" />
      <wsdl:output message="tns:selectSingQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALWS_SingleSelectedSoap" type="tns:DALWS_SingleSelectedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getitem">
      <soap:operation soapAction="http://tempuri.org/Getitem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourse">
      <soap:operation soapAction="http://tempuri.org/ListCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertQuestion">
      <soap:operation soapAction="http://tempuri.org/InsertQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap:operation soapAction="http://tempuri.org/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <soap:operation soapAction="http://tempuri.org/GetSingleProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSingQuestion">
      <soap:operation soapAction="http://tempuri.org/selectSingQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWS_SingleSelectedSoap12" type="tns:DALWS_SingleSelectedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Getitem">
      <soap12:operation soapAction="http://tempuri.org/Getitem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListCourse">
      <soap12:operation soapAction="http://tempuri.org/ListCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertQuestion">
      <soap12:operation soapAction="http://tempuri.org/InsertQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateQuestion">
      <soap12:operation soapAction="http://tempuri.org/UpdateQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleProblemList">
      <soap12:operation soapAction="http://tempuri.org/GetSingleProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectSingQuestion">
      <soap12:operation soapAction="http://tempuri.org/selectSingQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALWS_SingleSelected">
    <wsdl:port name="DALWS_SingleSelectedSoap" binding="tns:DALWS_SingleSelectedSoap">
      <soap:address location="http://localhost:2535/DALWS_SingleSelected.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWS_SingleSelectedSoap12" binding="tns:DALWS_SingleSelectedSoap12">
      <soap12:address location="http://localhost:2535/DALWS_SingleSelected.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>