OnLineExam/OnLineExamBLLWS/Web References/DALWS_Role/DALWS_Role.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertRole">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="role" type="tns:Role" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_RoleManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_Role" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserScore" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_CourseManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperSetup" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperLists" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserPaperList" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_SingleSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_MultiSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_FillBlankManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_JudgeManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_QuestionManage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRoleResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DelectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectRole">
        <s:complexType />
      </s:element>
      <s:element name="SelectRoleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectRoleResult" type="tns:ArrayOfRole" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRole">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRoleName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoleNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoleNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertRoleSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRole" />
  </wsdl:message>
  <wsdl:message name="InsertRoleSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRoleResponse" />
  </wsdl:message>
  <wsdl:message name="DelectSoapIn">
    <wsdl:part name="parameters" element="tns:Delect" />
  </wsdl:message>
  <wsdl:message name="DelectSoapOut">
    <wsdl:part name="parameters" element="tns:DelectResponse" />
  </wsdl:message>
  <wsdl:message name="SelectRoleSoapIn">
    <wsdl:part name="parameters" element="tns:SelectRole" />
  </wsdl:message>
  <wsdl:message name="SelectRoleSoapOut">
    <wsdl:part name="parameters" element="tns:SelectRoleResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoleNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoleName" />
  </wsdl:message>
  <wsdl:message name="GetRoleNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoleNameResponse" />
  </wsdl:message>
  <wsdl:portType name="DALWS_RoleSoap">
    <wsdl:operation name="InsertRole">
      <wsdl:input message="tns:InsertRoleSoapIn" />
      <wsdl:output message="tns:InsertRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delect">
      <wsdl:input message="tns:DelectSoapIn" />
      <wsdl:output message="tns:DelectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectRole">
      <wsdl:input message="tns:SelectRoleSoapIn" />
      <wsdl:output message="tns:SelectRoleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoleName">
      <wsdl:input message="tns:GetRoleNameSoapIn" />
      <wsdl:output message="tns:GetRoleNameSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALWS_RoleSoap" type="tns:DALWS_RoleSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRole">
      <soap:operation soapAction="http://tempuri.org/InsertRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delect">
      <soap:operation soapAction="http://tempuri.org/Delect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRole">
      <soap:operation soapAction="http://tempuri.org/SelectRole" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleName">
      <soap:operation soapAction="http://tempuri.org/GetRoleName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWS_RoleSoap12" type="tns:DALWS_RoleSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRole">
      <soap12:operation soapAction="http://tempuri.org/InsertRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delect">
      <soap12:operation soapAction="http://tempuri.org/Delect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRole">
      <soap12:operation soapAction="http://tempuri.org/SelectRole" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoleName">
      <soap12:operation soapAction="http://tempuri.org/GetRoleName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALWS_Role">
    <wsdl:port name="DALWS_RoleSoap" binding="tns:DALWS_RoleSoap">
      <soap:address location="http://localhost:2535/DALWS_Role.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWS_RoleSoap12" binding="tns:DALWS_RoleSoap12">
      <soap12:address location="http://localhost:2535/DALWS_Role.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>