trunk/OnLineExam/OnLineExamBLLWS/Web References/DALWS_StudentAnalysis/DALWS_StudentAnalysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SelectUserName">
        <s:complexType />
      </s:element>
      <s:element name="SelectUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserNameResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duties" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_RoleManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_Role" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserScore" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_CourseManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperSetup" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperLists" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserPaperList" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_SingleSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_MultiSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_FillBlankManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_JudgeManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_QuestionManage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectUserScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Scores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="JudgeTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PingYu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfScores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Scores" nillable="true" type="tns:Scores" />
        </s:sequence>
      </s:complexType>
      <s:element name="SelectUserScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserScoresResult" type="tns:ArrayOfScores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaperType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaperTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaperTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SelectUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserName" />
  </wsdl:message>
  <wsdl:message name="SelectUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUserScoresSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserScores" />
  </wsdl:message>
  <wsdl:message name="SelectUserScoresSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserScoresResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaperTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaperType" />
  </wsdl:message>
  <wsdl:message name="GetPaperTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaperTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="SelectUserName">
      <wsdl:input message="tns:SelectUserNameSoapIn" />
      <wsdl:output message="tns:SelectUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserScores">
      <wsdl:input message="tns:SelectUserScoresSoapIn" />
      <wsdl:output message="tns:SelectUserScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <wsdl:input message="tns:GetPaperTypeSoapIn" />
      <wsdl:output message="tns:GetPaperTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectUserName">
      <soap:operation soapAction="http://tempuri.org/SelectUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserScores">
      <soap:operation soapAction="http://tempuri.org/SelectUserScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <soap:operation soapAction="http://tempuri.org/GetPaperType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectUserName">
      <soap12:operation soapAction="http://tempuri.org/SelectUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserScores">
      <soap12:operation soapAction="http://tempuri.org/SelectUserScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <soap12:operation soapAction="http://tempuri.org/GetPaperType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:6833/DALWS_StudentAnalysis.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:6833/DALWS_StudentAnalysis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>