OnLineExam/OnLineExamBLLWS/Web References/DALWS_Course/DALWS_Course.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType />
      </s:element>
      <s:element name="insertCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ic" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="insertCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="insertCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectCourse">
        <s:complexType />
      </s:element>
      <s:element name="SelectCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectCourseResult" type="tns:ArrayOfCourse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCourse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryCourse">
        <s:complexType />
      </s:element>
      <s:element name="QueryCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="insertCourseSoapIn">
    <wsdl:part name="parameters" element="tns:insertCourse" />
  </wsdl:message>
  <wsdl:message name="insertCourseSoapOut">
    <wsdl:part name="parameters" element="tns:insertCourseResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="DeleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="SelectCourseSoapIn">
    <wsdl:part name="parameters" element="tns:SelectCourse" />
  </wsdl:message>
  <wsdl:message name="SelectCourseSoapOut">
    <wsdl:part name="parameters" element="tns:SelectCourseResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCourseSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCourse" />
  </wsdl:message>
  <wsdl:message name="QueryCourseSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCourseResponse" />
  </wsdl:message>
  <wsdl:portType name="DALWS_CourseSoap">
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <wsdl:input message="tns:insertCourseSoapIn" />
      <wsdl:output message="tns:insertCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input message="tns:DeleteCourseSoapIn" />
      <wsdl:output message="tns:DeleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectCourse">
      <wsdl:input message="tns:SelectCourseSoapIn" />
      <wsdl:output message="tns:SelectCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <wsdl:input message="tns:QueryCourseSoapIn" />
      <wsdl:output message="tns:QueryCourseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALWS_CourseSoap" type="tns:DALWS_CourseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <soap:operation soapAction="http://tempuri.org/insertCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCourse">
      <soap:operation soapAction="http://tempuri.org/SelectCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <soap:operation soapAction="http://tempuri.org/QueryCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWS_CourseSoap12" type="tns:DALWS_CourseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertCourse">
      <soap12:operation soapAction="http://tempuri.org/insertCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap12:operation soapAction="http://tempuri.org/DeleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectCourse">
      <soap12:operation soapAction="http://tempuri.org/SelectCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <soap12:operation soapAction="http://tempuri.org/QueryCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALWS_Course">
    <wsdl:port name="DALWS_CourseSoap" binding="tns:DALWS_CourseSoap">
      <soap:address location="http://localhost:6833/DALWS_Course.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWS_CourseSoap12" binding="tns:DALWS_CourseSoap12">
      <soap12:address location="http://localhost:6833/DALWS_Course.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>