OnLineExam/OnLineExamBLLWS/Web References/DALWS_FillBlankProblem/DALWS_FillBlankProblem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="FillBlankProbleUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fb" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FillBlankProblem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="FrontTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BackTitle" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Answer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="FillBlankProbleUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProbleUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProbleInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fi" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProbleInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProbleInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProbleDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fd" type="tns:FillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillBlankProbleDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FillBlankProbleDeleteResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeFillBlankProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeFillBlankProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeFillBlankProblemListResult" type="tns:ArrayOfFillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFillBlankProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FillBlankProblem" nillable="true" type="tns:FillBlankProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="FillQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FillQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FillQuestionResult" type="tns:ArrayOfFillBlankProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FillBlankProbleUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProbleUpdate" />
  </wsdl:message>
  <wsdl:message name="FillBlankProbleUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProbleUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="FillBlankProbleInsertSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProbleInsert" />
  </wsdl:message>
  <wsdl:message name="FillBlankProbleInsertSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProbleInsertResponse" />
  </wsdl:message>
  <wsdl:message name="FillBlankProbleDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:FillBlankProbleDelete" />
  </wsdl:message>
  <wsdl:message name="FillBlankProbleDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:FillBlankProbleDeleteResponse" />
  </wsdl:message>
  <wsdl:message name="GeFillBlankProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GeFillBlankProblemList" />
  </wsdl:message>
  <wsdl:message name="GeFillBlankProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GeFillBlankProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="FillQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:FillQuestion" />
  </wsdl:message>
  <wsdl:message name="FillQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:FillQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="DALWS_FillBlankProblemSoap">
    <wsdl:operation name="FillBlankProbleUpdate">
      <wsdl:input message="tns:FillBlankProbleUpdateSoapIn" />
      <wsdl:output message="tns:FillBlankProbleUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleInsert">
      <wsdl:input message="tns:FillBlankProbleInsertSoapIn" />
      <wsdl:output message="tns:FillBlankProbleInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleDelete">
      <wsdl:input message="tns:FillBlankProbleDeleteSoapIn" />
      <wsdl:output message="tns:FillBlankProbleDeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <wsdl:input message="tns:GeFillBlankProblemListSoapIn" />
      <wsdl:output message="tns:GeFillBlankProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FillQuestion">
      <wsdl:input message="tns:FillQuestionSoapIn" />
      <wsdl:output message="tns:FillQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALWS_FillBlankProblemSoap" type="tns:DALWS_FillBlankProblemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillBlankProbleUpdate">
      <soap:operation soapAction="http://tempuri.org/FillBlankProbleUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleInsert">
      <soap:operation soapAction="http://tempuri.org/FillBlankProbleInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleDelete">
      <soap:operation soapAction="http://tempuri.org/FillBlankProbleDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <soap:operation soapAction="http://tempuri.org/GeFillBlankProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillQuestion">
      <soap:operation soapAction="http://tempuri.org/FillQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALWS_FillBlankProblemSoap12" type="tns:DALWS_FillBlankProblemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FillBlankProbleUpdate">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProbleUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleInsert">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProbleInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillBlankProbleDelete">
      <soap12:operation soapAction="http://tempuri.org/FillBlankProbleDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeFillBlankProblemList">
      <soap12:operation soapAction="http://tempuri.org/GeFillBlankProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FillQuestion">
      <soap12:operation soapAction="http://tempuri.org/FillQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DALWS_FillBlankProblem">
    <wsdl:port name="DALWS_FillBlankProblemSoap" binding="tns:DALWS_FillBlankProblemSoap">
      <soap:address location="http://localhost:6833/DALWS_FillBlankProblem.asmx" />
    </wsdl:port>
    <wsdl:port name="DALWS_FillBlankProblemSoap12" binding="tns:DALWS_FillBlankProblemSoap12">
      <soap12:address location="http://localhost:6833/DALWS_FillBlankProblem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>