OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_Paper.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="QueryAllPaper">
        <s:complexType />
      </s:element>
      <s:element name="QueryAllPaperResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryAllPaperResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="spp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePate1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="spp" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdatePate1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdatePate1Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePaper">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PaperId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePaperResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePaperResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePaperDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PaperId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePaperDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePaperDetailResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperSing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperSingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperSingResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperSingMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperSingMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperSingMarkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperMult">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperMultResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperMultResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperMultMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperMultMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperMultMarkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperJudg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperJudgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperJudgResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperJudgMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperJudgMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperJudgMarkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperFill">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperFillResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperFillResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperFillMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperFillMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperFillMarkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperQues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperQuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperQuesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperQuesMark">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PapperId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="sb" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPaperQuesMarkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPaperQuesMarkResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryPaper">
        <s:complexType />
      </s:element>
      <s:element name="QueryPaperResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryPaperResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaperType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPaperTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPaperTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryAllPaperSoapIn">
    <wsdl:part name="parameters" element="tns:QueryAllPaper" />
  </wsdl:message>
  <wsdl:message name="QueryAllPaperSoapOut">
    <wsdl:part name="parameters" element="tns:QueryAllPaperResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePate" />
  </wsdl:message>
  <wsdl:message name="UpdatePateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdatePate1SoapIn">
    <wsdl:part name="parameters" element="tns:UpdatePate1" />
  </wsdl:message>
  <wsdl:message name="UpdatePate1SoapOut">
    <wsdl:part name="parameters" element="tns:UpdatePate1Response" />
  </wsdl:message>
  <wsdl:message name="DeletePaperSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePaper" />
  </wsdl:message>
  <wsdl:message name="DeletePaperSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePaperResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePaperDetailSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePaperDetail" />
  </wsdl:message>
  <wsdl:message name="DeletePaperDetailSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePaperDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperSingSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperSing" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperSingSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperSingResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperSingMarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperSingMark" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperSingMarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperSingMarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperMultSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperMult" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperMultSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperMultResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperMultMarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperMultMark" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperMultMarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperMultMarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperJudgSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperJudg" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperJudgSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperJudgResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperJudgMarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperJudgMark" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperJudgMarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperJudgMarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperFillSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperFill" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperFillSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperFillResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperFillMarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperFillMark" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperFillMarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperFillMarkResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperQuesSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperQues" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperQuesSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperQuesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperQuesMarkSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPaperQuesMark" />
  </wsdl:message>
  <wsdl:message name="GetAllPaperQuesMarkSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPaperQuesMarkResponse" />
  </wsdl:message>
  <wsdl:message name="QueryPaperSoapIn">
    <wsdl:part name="parameters" element="tns:QueryPaper" />
  </wsdl:message>
  <wsdl:message name="QueryPaperSoapOut">
    <wsdl:part name="parameters" element="tns:QueryPaperResponse" />
  </wsdl:message>
  <wsdl:message name="GetPaperTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetPaperType" />
  </wsdl:message>
  <wsdl:message name="GetPaperTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetPaperTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_PaperSoap">
    <wsdl:operation name="QueryAllPaper">
      <wsdl:input message="tns:QueryAllPaperSoapIn" />
      <wsdl:output message="tns:QueryAllPaperSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePate">
      <wsdl:input message="tns:UpdatePateSoapIn" />
      <wsdl:output message="tns:UpdatePateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePate1">
      <wsdl:input message="tns:UpdatePate1SoapIn" />
      <wsdl:output message="tns:UpdatePate1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaper">
      <wsdl:input message="tns:DeletePaperSoapIn" />
      <wsdl:output message="tns:DeletePaperSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePaperDetail">
      <wsdl:input message="tns:DeletePaperDetailSoapIn" />
      <wsdl:output message="tns:DeletePaperDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSing">
      <wsdl:input message="tns:GetAllPaperSingSoapIn" />
      <wsdl:output message="tns:GetAllPaperSingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSingMark">
      <wsdl:input message="tns:GetAllPaperSingMarkSoapIn" />
      <wsdl:output message="tns:GetAllPaperSingMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMult">
      <wsdl:input message="tns:GetAllPaperMultSoapIn" />
      <wsdl:output message="tns:GetAllPaperMultSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMultMark">
      <wsdl:input message="tns:GetAllPaperMultMarkSoapIn" />
      <wsdl:output message="tns:GetAllPaperMultMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudg">
      <wsdl:input message="tns:GetAllPaperJudgSoapIn" />
      <wsdl:output message="tns:GetAllPaperJudgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudgMark">
      <wsdl:input message="tns:GetAllPaperJudgMarkSoapIn" />
      <wsdl:output message="tns:GetAllPaperJudgMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFill">
      <wsdl:input message="tns:GetAllPaperFillSoapIn" />
      <wsdl:output message="tns:GetAllPaperFillSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFillMark">
      <wsdl:input message="tns:GetAllPaperFillMarkSoapIn" />
      <wsdl:output message="tns:GetAllPaperFillMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQues">
      <wsdl:input message="tns:GetAllPaperQuesSoapIn" />
      <wsdl:output message="tns:GetAllPaperQuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQuesMark">
      <wsdl:input message="tns:GetAllPaperQuesMarkSoapIn" />
      <wsdl:output message="tns:GetAllPaperQuesMarkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryPaper">
      <wsdl:input message="tns:QueryPaperSoapIn" />
      <wsdl:output message="tns:QueryPaperSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <wsdl:input message="tns:GetPaperTypeSoapIn" />
      <wsdl:output message="tns:GetPaperTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_PaperSoap" type="tns:BLLWS_PaperSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAllPaper">
      <soap:operation soapAction="http://tempuri.org/QueryAllPaper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePate">
      <soap:operation soapAction="http://tempuri.org/UpdatePate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePate1">
      <soap:operation soapAction="http://tempuri.org/UpdatePate1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaper">
      <soap:operation soapAction="http://tempuri.org/DeletePaper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaperDetail">
      <soap:operation soapAction="http://tempuri.org/DeletePaperDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSing">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperSing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSingMark">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperSingMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMult">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperMult" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMultMark">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperMultMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudg">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperJudg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudgMark">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperJudgMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFill">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperFill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFillMark">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperFillMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQues">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperQues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQuesMark">
      <soap:operation soapAction="http://tempuri.org/GetAllPaperQuesMark" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPaper">
      <soap:operation soapAction="http://tempuri.org/QueryPaper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <soap:operation soapAction="http://tempuri.org/GetPaperType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_PaperSoap12" type="tns:BLLWS_PaperSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryAllPaper">
      <soap12:operation soapAction="http://tempuri.org/QueryAllPaper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePate">
      <soap12:operation soapAction="http://tempuri.org/UpdatePate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePate1">
      <soap12:operation soapAction="http://tempuri.org/UpdatePate1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaper">
      <soap12:operation soapAction="http://tempuri.org/DeletePaper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePaperDetail">
      <soap12:operation soapAction="http://tempuri.org/DeletePaperDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSing">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperSing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperSingMark">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperSingMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMult">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperMult" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperMultMark">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperMultMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudg">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperJudg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperJudgMark">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperJudgMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFill">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperFill" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperFillMark">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperFillMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQues">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperQues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPaperQuesMark">
      <soap12:operation soapAction="http://tempuri.org/GetAllPaperQuesMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryPaper">
      <soap12:operation soapAction="http://tempuri.org/QueryPaper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaperType">
      <soap12:operation soapAction="http://tempuri.org/GetPaperType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_Paper">
    <wsdl:port name="BLLWS_PaperSoap" binding="tns:BLLWS_PaperSoap">
      <soap:address location="http://localhost:6861/BLLWS_Paper.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_PaperSoap12" binding="tns:BLLWS_PaperSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_Paper.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>