OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_Course.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ModifyPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyPwdResponse">
        <s:complexType />
      </s:element>
      <s:element name="courseInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Course">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="DepartmentId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartmentName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="courseInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="courseInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryCourse">
        <s:complexType />
      </s:element>
      <s:element name="QueryCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryCourseResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeleteCourse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="tns:Course" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeleteCourseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeleteCourseResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelect">
        <s:complexType />
      </s:element>
      <s:element name="GetSelectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSelectResult" type="tns:ArrayOfCourse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCourse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ModifyPwdSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyPwd" />
  </wsdl:message>
  <wsdl:message name="ModifyPwdSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyPwdResponse" />
  </wsdl:message>
  <wsdl:message name="courseInsertSoapIn">
    <wsdl:part name="parameters" element="tns:courseInsert" />
  </wsdl:message>
  <wsdl:message name="courseInsertSoapOut">
    <wsdl:part name="parameters" element="tns:courseInsertResponse" />
  </wsdl:message>
  <wsdl:message name="QueryCourseSoapIn">
    <wsdl:part name="parameters" element="tns:QueryCourse" />
  </wsdl:message>
  <wsdl:message name="QueryCourseSoapOut">
    <wsdl:part name="parameters" element="tns:QueryCourseResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeleteCourseSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeleteCourse" />
  </wsdl:message>
  <wsdl:message name="GetDeleteCourseSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelect" />
  </wsdl:message>
  <wsdl:message name="GetSelectSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_CourseSoap">
    <wsdl:operation name="ModifyPwd">
      <wsdl:input message="tns:ModifyPwdSoapIn" />
      <wsdl:output message="tns:ModifyPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="courseInsert">
      <wsdl:input message="tns:courseInsertSoapIn" />
      <wsdl:output message="tns:courseInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <wsdl:input message="tns:QueryCourseSoapIn" />
      <wsdl:output message="tns:QueryCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeleteCourse">
      <wsdl:input message="tns:GetDeleteCourseSoapIn" />
      <wsdl:output message="tns:GetDeleteCourseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelect">
      <wsdl:input message="tns:GetSelectSoapIn" />
      <wsdl:output message="tns:GetSelectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_CourseSoap" type="tns:BLLWS_CourseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifyPwd">
      <soap:operation soapAction="http://tempuri.org/ModifyPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="courseInsert">
      <soap:operation soapAction="http://tempuri.org/courseInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <soap:operation soapAction="http://tempuri.org/QueryCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeleteCourse">
      <soap:operation soapAction="http://tempuri.org/GetDeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelect">
      <soap:operation soapAction="http://tempuri.org/GetSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_CourseSoap12" type="tns:BLLWS_CourseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ModifyPwd">
      <soap12:operation soapAction="http://tempuri.org/ModifyPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="courseInsert">
      <soap12:operation soapAction="http://tempuri.org/courseInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryCourse">
      <soap12:operation soapAction="http://tempuri.org/QueryCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeleteCourse">
      <soap12:operation soapAction="http://tempuri.org/GetDeleteCourse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelect">
      <soap12:operation soapAction="http://tempuri.org/GetSelect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_Course">
    <wsdl:port name="BLLWS_CourseSoap" binding="tns:BLLWS_CourseSoap">
      <soap:address location="http://localhost:6861/BLLWS_Course.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_CourseSoap12" binding="tns:BLLWS_CourseSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_Course.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>