OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_JudgeProblem.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="judgeProblemUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jp" type="tns:JudgeProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="JudgeProblem">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Answer" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswer" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="judgeProblemUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="judgeProblemUpdateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="judgeProblemInsert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ji" type="tns:JudgeProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="judgeProblemInsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="judgeProblemInsertResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJudgeProblemList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectvalue" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJudgeProblemListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJudgeProblemListResult" type="tns:ArrayOfJudgeProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfJudgeProblem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="JudgeProblem" nillable="true" type="tns:JudgeProblem" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetJudgeQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetJudgeQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetJudgeQuestionResult" type="tns:ArrayOfJudgeProblem" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="judgeProblemUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:judgeProblemUpdate" />
  </wsdl:message>
  <wsdl:message name="judgeProblemUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:judgeProblemUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="judgeProblemInsertSoapIn">
    <wsdl:part name="parameters" element="tns:judgeProblemInsert" />
  </wsdl:message>
  <wsdl:message name="judgeProblemInsertSoapOut">
    <wsdl:part name="parameters" element="tns:judgeProblemInsertResponse" />
  </wsdl:message>
  <wsdl:message name="GetJudgeProblemListSoapIn">
    <wsdl:part name="parameters" element="tns:GetJudgeProblemList" />
  </wsdl:message>
  <wsdl:message name="GetJudgeProblemListSoapOut">
    <wsdl:part name="parameters" element="tns:GetJudgeProblemListResponse" />
  </wsdl:message>
  <wsdl:message name="GetJudgeQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:GetJudgeQuestion" />
  </wsdl:message>
  <wsdl:message name="GetJudgeQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:GetJudgeQuestionResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_JudgeProblemSoap">
    <wsdl:operation name="judgeProblemUpdate">
      <wsdl:input message="tns:judgeProblemUpdateSoapIn" />
      <wsdl:output message="tns:judgeProblemUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="judgeProblemInsert">
      <wsdl:input message="tns:judgeProblemInsertSoapIn" />
      <wsdl:output message="tns:judgeProblemInsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJudgeProblemList">
      <wsdl:input message="tns:GetJudgeProblemListSoapIn" />
      <wsdl:output message="tns:GetJudgeProblemListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetJudgeQuestion">
      <wsdl:input message="tns:GetJudgeQuestionSoapIn" />
      <wsdl:output message="tns:GetJudgeQuestionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_JudgeProblemSoap" type="tns:BLLWS_JudgeProblemSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="judgeProblemUpdate">
      <soap:operation soapAction="http://tempuri.org/judgeProblemUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="judgeProblemInsert">
      <soap:operation soapAction="http://tempuri.org/judgeProblemInsert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJudgeProblemList">
      <soap:operation soapAction="http://tempuri.org/GetJudgeProblemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJudgeQuestion">
      <soap:operation soapAction="http://tempuri.org/GetJudgeQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_JudgeProblemSoap12" type="tns:BLLWS_JudgeProblemSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="judgeProblemUpdate">
      <soap12:operation soapAction="http://tempuri.org/judgeProblemUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="judgeProblemInsert">
      <soap12:operation soapAction="http://tempuri.org/judgeProblemInsert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJudgeProblemList">
      <soap12:operation soapAction="http://tempuri.org/GetJudgeProblemList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetJudgeQuestion">
      <soap12:operation soapAction="http://tempuri.org/GetJudgeQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_JudgeProblem">
    <wsdl:port name="BLLWS_JudgeProblemSoap" binding="tns:BLLWS_JudgeProblemSoap">
      <soap:address location="http://localhost:2542/BLLWS_JudgeProblem.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_JudgeProblemSoap12" binding="tns:BLLWS_JudgeProblemSoap12">
      <soap12:address location="http://localhost:2542/BLLWS_JudgeProblem.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>