OnLineExam/OnLineExam/App_WebReferences/localhost/BLLWS_User.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="selectAllScore">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PaperID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="selectAllScoreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllScoreResult" type="tns:ArrayOfScores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfScores">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Scores" nillable="true" type="tns:Scores" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Scores">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="JudgeTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PingYu" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="selectAlls">
        <s:complexType />
      </s:element>
      <s:element name="selectAllsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="selectAllsResult" type="tns:ArrayOfScores" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seluserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seluserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seluserNameResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsers">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Users">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="tns:Role" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Duties" type="tns:ArrayOfAnyType" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="RoleName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_RoleManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_Role" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserScore" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_CourseManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperSetup" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_PaperLists" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_UserPaperList" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_SingleSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_MultiSelectManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_FillBlankManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_JudgeManage" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="HasDuty_QuestionManage" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="seluser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="seluserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="seluserResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listuser">
        <s:complexType />
      </s:element>
      <s:element name="listuserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listuserResult" type="tns:ArrayOfUsers" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUsersResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertScores">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="scores" type="tns:Scores" />
            <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paperId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertScoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertScoresResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="tns:Users" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyPwdResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetselectUserPaperList">
        <s:complexType />
      </s:element>
      <s:complexType name="UserAnswer">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PaperID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TitleID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Mark" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="UserAnswers" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExamTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PaperName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CourseID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PaperState" type="s:unsignedByte" />
          <s:element minOccurs="0" maxOccurs="1" name="UserPwd" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RoleId" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Score" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="JudgeTime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfUserAnswer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserAnswer" nillable="true" type="tns:UserAnswer" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetselectUserPaperListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetselectUserPaperListResult" type="tns:ArrayOfUserAnswer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserPaperList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UsersID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="PapersID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserPaperListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteUserPaperListResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetselectExaminfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetselectExaminfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetselectExaminfoResult" type="tns:ArrayOfUserAnswer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectPwd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSelectPwdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetSelectPwdResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="selectAllScoreSoapIn">
    <wsdl:part name="parameters" element="tns:selectAllScore" />
  </wsdl:message>
  <wsdl:message name="selectAllScoreSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllScoreResponse" />
  </wsdl:message>
  <wsdl:message name="selectAllsSoapIn">
    <wsdl:part name="parameters" element="tns:selectAlls" />
  </wsdl:message>
  <wsdl:message name="selectAllsSoapOut">
    <wsdl:part name="parameters" element="tns:selectAllsResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapIn">
    <wsdl:part name="parameters" element="tns:GetTime" />
  </wsdl:message>
  <wsdl:message name="GetTimeSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeResponse" />
  </wsdl:message>
  <wsdl:message name="seluserNameSoapIn">
    <wsdl:part name="parameters" element="tns:seluserName" />
  </wsdl:message>
  <wsdl:message name="seluserNameSoapOut">
    <wsdl:part name="parameters" element="tns:seluserNameResponse" />
  </wsdl:message>
  <wsdl:message name="seluserSoapIn">
    <wsdl:part name="parameters" element="tns:seluser" />
  </wsdl:message>
  <wsdl:message name="seluserSoapOut">
    <wsdl:part name="parameters" element="tns:seluserResponse" />
  </wsdl:message>
  <wsdl:message name="listuserSoapIn">
    <wsdl:part name="parameters" element="tns:listuser" />
  </wsdl:message>
  <wsdl:message name="listuserSoapOut">
    <wsdl:part name="parameters" element="tns:listuserResponse" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AddUsers" />
  </wsdl:message>
  <wsdl:message name="AddUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AddUsersResponse" />
  </wsdl:message>
  <wsdl:message name="InsertScoresSoapIn">
    <wsdl:part name="parameters" element="tns:InsertScores" />
  </wsdl:message>
  <wsdl:message name="InsertScoresSoapOut">
    <wsdl:part name="parameters" element="tns:InsertScoresResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyPwdSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyPwd" />
  </wsdl:message>
  <wsdl:message name="ModifyPwdSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyPwdResponse" />
  </wsdl:message>
  <wsdl:message name="GetselectUserPaperListSoapIn">
    <wsdl:part name="parameters" element="tns:GetselectUserPaperList" />
  </wsdl:message>
  <wsdl:message name="GetselectUserPaperListSoapOut">
    <wsdl:part name="parameters" element="tns:GetselectUserPaperListResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserPaperListSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUserPaperList" />
  </wsdl:message>
  <wsdl:message name="DeleteUserPaperListSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserPaperListResponse" />
  </wsdl:message>
  <wsdl:message name="GetselectExaminfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetselectExaminfo" />
  </wsdl:message>
  <wsdl:message name="GetselectExaminfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetselectExaminfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetSelectPwdSoapIn">
    <wsdl:part name="parameters" element="tns:GetSelectPwd" />
  </wsdl:message>
  <wsdl:message name="GetSelectPwdSoapOut">
    <wsdl:part name="parameters" element="tns:GetSelectPwdResponse" />
  </wsdl:message>
  <wsdl:portType name="BLLWS_UserSoap">
    <wsdl:operation name="selectAllScore">
      <wsdl:input message="tns:selectAllScoreSoapIn" />
      <wsdl:output message="tns:selectAllScoreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="selectAlls">
      <wsdl:input message="tns:selectAllsSoapIn" />
      <wsdl:output message="tns:selectAllsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <wsdl:input message="tns:GetTimeSoapIn" />
      <wsdl:output message="tns:GetTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="seluserName">
      <wsdl:input message="tns:seluserNameSoapIn" />
      <wsdl:output message="tns:seluserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="seluser">
      <wsdl:input message="tns:seluserSoapIn" />
      <wsdl:output message="tns:seluserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <wsdl:input message="tns:listuserSoapIn" />
      <wsdl:output message="tns:listuserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <wsdl:input message="tns:AddUsersSoapIn" />
      <wsdl:output message="tns:AddUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertScores">
      <wsdl:input message="tns:InsertScoresSoapIn" />
      <wsdl:output message="tns:InsertScoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyPwd">
      <wsdl:input message="tns:ModifyPwdSoapIn" />
      <wsdl:output message="tns:ModifyPwdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetselectUserPaperList">
      <wsdl:input message="tns:GetselectUserPaperListSoapIn" />
      <wsdl:output message="tns:GetselectUserPaperListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPaperList">
      <wsdl:input message="tns:DeleteUserPaperListSoapIn" />
      <wsdl:output message="tns:DeleteUserPaperListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetselectExaminfo">
      <wsdl:input message="tns:GetselectExaminfoSoapIn" />
      <wsdl:output message="tns:GetselectExaminfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSelectPwd">
      <wsdl:input message="tns:GetSelectPwdSoapIn" />
      <wsdl:output message="tns:GetSelectPwdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLLWS_UserSoap" type="tns:BLLWS_UserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllScore">
      <soap:operation soapAction="http://tempuri.org/selectAllScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAlls">
      <soap:operation soapAction="http://tempuri.org/selectAlls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seluserName">
      <soap:operation soapAction="http://tempuri.org/seluserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seluser">
      <soap:operation soapAction="http://tempuri.org/seluser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <soap:operation soapAction="http://tempuri.org/listuser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap:operation soapAction="http://tempuri.org/AddUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScores">
      <soap:operation soapAction="http://tempuri.org/InsertScores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPwd">
      <soap:operation soapAction="http://tempuri.org/ModifyPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetselectUserPaperList">
      <soap:operation soapAction="http://tempuri.org/GetselectUserPaperList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPaperList">
      <soap:operation soapAction="http://tempuri.org/DeleteUserPaperList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetselectExaminfo">
      <soap:operation soapAction="http://tempuri.org/GetselectExaminfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectPwd">
      <soap:operation soapAction="http://tempuri.org/GetSelectPwd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLLWS_UserSoap12" type="tns:BLLWS_UserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="selectAllScore">
      <soap12:operation soapAction="http://tempuri.org/selectAllScore" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="selectAlls">
      <soap12:operation soapAction="http://tempuri.org/selectAlls" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTime">
      <soap12:operation soapAction="http://tempuri.org/GetTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seluserName">
      <soap12:operation soapAction="http://tempuri.org/seluserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="seluser">
      <soap12:operation soapAction="http://tempuri.org/seluser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listuser">
      <soap12:operation soapAction="http://tempuri.org/listuser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUsers">
      <soap12:operation soapAction="http://tempuri.org/AddUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScores">
      <soap12:operation soapAction="http://tempuri.org/InsertScores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyPwd">
      <soap12:operation soapAction="http://tempuri.org/ModifyPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetselectUserPaperList">
      <soap12:operation soapAction="http://tempuri.org/GetselectUserPaperList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserPaperList">
      <soap12:operation soapAction="http://tempuri.org/DeleteUserPaperList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetselectExaminfo">
      <soap12:operation soapAction="http://tempuri.org/GetselectExaminfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSelectPwd">
      <soap12:operation soapAction="http://tempuri.org/GetSelectPwd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLLWS_User">
    <wsdl:port name="BLLWS_UserSoap" binding="tns:BLLWS_UserSoap">
      <soap:address location="http://localhost:6861/BLLWS_User.asmx" />
    </wsdl:port>
    <wsdl:port name="BLLWS_UserSoap12" binding="tns:BLLWS_UserSoap12">
      <soap12:address location="http://localhost:6861/BLLWS_User.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>